<a routerLink="">
    <h1>My Store</h1>
</a>

<a style="right: 10px;" routerLink="providers">
    <h1>Providers</h1>
</a>

<!-- To push to the left the providers link -->
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>
<div style="visibility: hidden;"></div>

<a routerLink="cart" class="button fancy-button"><em class="material-icons">shopping_cart</em>Checkout</a>